/* BACKGROUND */

body {
    background-color: #8bc;
    background-image: radial-gradient(#fff, #8bc);
    background-image: -o-radial-gradient(#fff, #8bc);
    background-image: -moz-radial-gradient(#fff, #8bc);
    background-image: -webkit-radial-gradient(#fff, #8bc);
}



/* GENERAL TEXT STYLES */

h1, h3, p {
    font-family: Hind Guntur, Helvetica, sans-serif;
    font-weight: 300;
}

strong {
    font-weight: 600;
}



/* HEADER AND FORM STYLES */

.jumbotron {
    background-color: transparent;
}

.btn {
    margin: 20px auto 30px;
}



/* RESULTS STYLES */

.results-header {
    margin-bottom: 30px;
}

.album-art {
    padding-bottom: 10px;
}

li p {
    font-size: 16px;
    margin-bottom: 2px;
}

.metadata-category {
    color: #777;
}

.track-title {
    font-size: 18px;
}

.previewer {
    width: 100%;
    background-color: #8bc;
    color: #8bc;
}

